@charset "UTF-8";

body {
	background: #191919; 
	/* background: #191919 url("FILES/bg.jpg")  no-repeat fixed center; */ 
	color:white;
	font-family:sans-serif;
}



/* Header Wrapper */
#header_wrapper {		
	width:100%; 
	position:fixed;
	top:0px; 
	height:90px;
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.90) 10%,rgba(0,0,0,0) 100%);
}
#logo {
	float:left;
}
#control_panel {
	padding:5px 15px 0px 15px; 
	float:right;
	font-family:verdana;
}
label[for="debug_checkbox"]{
	color:#00AA66;
}
label[for="debug_checkbox"] sup {
	font-size:0.45em;
}
#control_panel input {
	font-weight: bold;
	border-radius: 5px;
	border:0;
	padding: 2px 6px;
}
#control_panel input[type="button"],
#control_panel input[type="submit"] {
	padding: 5px 10px;
}
.yellow-on-black {
	background-color: #eee000;
	color: black;
	font-family: verdana;
	font-weight: bold;
	padding: 0.05em 0.2em;

}

/* Debug Wrapper */
.debug_wrapper { 
	/*Inline display:none controlled by PHP*/
} 
.debug_wrapper ul {
	list-style:none;
	padding:0px;
}
.debug_wrapper b, .debug_wrapper span, .debug_wrapper textarea{
	background-color:#00AA66;
	color:black;
}
.debug_wrapper textarea {
	width:70%;
	height:15em;
}

/* Content Wrapper */
#content_wrapper {
	color: #0066CC; /*blue*/
	max-width:75em;
	margin: auto;
	margin-top: 100px;
}
/*#content_wrapper*/
input {
	background-color:#eee000;
	color: black;
}
table {
	background-color: #eee000; 
	border: 3px dashed black; 
	border-radius: 10px;
	/*color:inherit; */ 
}
#td_title {
	width: 22em;
}
.table_link {
	-webkit-transition: background-color 0.3s;
}
.table_link:hover {
	background-color: yellow; 
	cursor:pointer;
}
table h2 {
	/*vertical-align:middle; does not work*/
}
table h2 img {
	float:left;

}
.small_text {
	font-size: 0.5em;
	font-weight: normal;
}

/*Footer Wrapper*/
#footer_wrapper {
	color:yellow;
	font-size: 0.6em;
	position:fixed;
	bottom:0;
	right:0;
	background-color:transparent; 
	padding: 0.5em 0.8em;
}

